.info {
    flex-basis: 31%;
    background: #e4e9ef;
    border-radius: 10px;
    margin-bottom:5%;
    padding: 10px 10px;
    margin:2px;
  } 
  .main{
    width: 90%; 
    margin: auto;
    text-align:left;
    padding-top: 10px;
 }
  .main h3{
    text-align:left;
    color:#2b2727   
  }
  /* .course h1 {
    font-size: 3rem;
    font-weight: 600;
  } */
  
.main p {
    color: #2b2727;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 10px;
  }
  /* Style for the Link component */

  
  